# Cloudflare
CLOUDFLARE_API_TOKEN=your-api-token
CLOUDFLARE_ACCOUNT_ID=your-account-id

# App
NEXT_PUBLIC_APP_DOMAIN=aurelion.web.id
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_WORKER_URL=https://aurelion-email-worker.your-account.workers.dev
WORKER_URL=https://aurelion-email-worker.your-account.workers.dev
